<table border="1">
  <tr>
    <th>Código</th>
    <th>*Descripcion*</th>
  </tr>
  <tr>
    <td>*codigo*</td>
    <td ><img src="C:\Users\Julisa\Pictures\Notas\Captura.PNG" style="max-width: 750px"></td>
  </tr>
</table>
<table border="1">
  <tr>
    <th>Código</th>
    <th>*Descripcion*</th>
  </tr>
  <tr>
    <td>*codigo*</td>
    <td ><img src="C:\Users\Julisa\Pictures\Notas\Captura.PNG" style="max-width: 750px"></td>
  </tr>
</table>
<table border="1">
  <tr>
    <th>Código</th>
    <th>*Descripcion*</th>
  </tr>
  <tr>
    <td>*codigo*</td>
    <td ><img src="C:\Users\Julisa\Pictures\Notas\Captura.PNG" style="max-width: 750px"></td>
  </tr>
</table>
<table border="1">
  <tr>
    <th>Código</th>
    <th>*Descripcion*</th>
  </tr>
  <tr>
    <td>*codigo*</td>
    <td ><img src="C:\Users\Julisa\Pictures\Notas\Captura.PNG" style="max-width: 750px"></td>
  </tr>
</table>